:root { 
  --white: #ffffff; 
  --bg: #000000; 
  --blue: #2797dd; 
  --grey: #6e767d; 
  --pink: #f72381; 
  --body1-regular: 400 1rem/1.75rem Poppins; 
  --body1-bold: 700 1rem/1.75rem Poppins; 
  --body2-bold: 700 0.75rem/1.5rem Poppins; 
  --body2-regular: 400 0.75rem/1.375rem Poppins;   
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: var(--white);
  font: var(--body2-bold);
  background-color: var(--bg);
}
.card__container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 700px;
  margin: 0 auto;
  place-content: flex-start;
  width: 100%;
}
.card{
  border: 1px solid #6e767da2;
  display: grid;
  grid-template-columns: auto minmax(200px, 700px);
  gap: 16px;
  padding: 16px;
}
.card__title{
  display: flex;
}
.card > img{
  height: 48px;
  max-height: 64px;
  max-width: 64px;
  width: 48px;
}
.card__user{
  margin-block-end: 8px;
}
.card__user > h2{
  font: var(--body2-bold);
}
.card__user > p{
  font: var(--body2-regular);
  color: var(--grey);
}
.card__body{
  font: var(--body2-regular);
  margin-block-end: 16px;
}
.card__body > p{
  font: var(--body2-regular);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-block-end: 16px;
}
.card__link{
  color: var(--blue);
}
.body__grid{
  border: 1px solid #6e767da2;
  border-radius: 18px;
  display: grid;
  grid-template-columns: .5fr 1fr;
  max-height: 144px;
  overflow: hidden;
}
.body__grid img{
  height: 100%;
  max-height: inherit;
  width: 100%;
}
.grid__body{
  padding: 16px 0 8px 16px;
}
.grid__body h3 {
  margin-block-end: 8px;
}
.grid__body p {
  margin: 0;
}
.body__resumen{
  display: none;
  color: var(--grey);
}
.body__enlace{
  font: var(--body2-regular);
  font-size: 11px;
  color: var(--grey);
}
.grid__heart{
  gap: 6px;
  align-items: center;
  display: flex;
}
.heart{
  background-size:15px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 16px;
  background-image: url("../assets/icons/heart.svg");
  width: 16px;
}
.heart__animation{
  background-image: url("../assets/icons/heart__red.svg");
}
.grid__heart > p{
  color: var(--grey);
  font: var(--body2-regular);
}
@media screen and (min-width:768px){
  .card__container{
    place-content: center;
  }
  .card__user{
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .card__user h2{
    font: var(--body1-bold);
  }
  .card__user p{
    font: var(--body1-regular);
  }
  .card__body > p{
    font: var(--body1-regular);
  }
  .grid__body{
    font: var(--body1-regular);
  }
  .grid__body h3,
  .grid__body p{
    font-weight: normal;
  }
  .body__enlace{
    display: none;
  }
  .body__resumen{
    display: inline-block;
  }
  .grid__heart > span{
    background-size: 18px;
    height: 20px;
    width: 20px;
  }
  .grid__heart p{
    font-size: 16px;
  }
}